<div class="container auth-form">
    <form name="ForgotPasswordForm" ng-submit="forgotPassword(User)" class="form-horizontal center-block  col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="overlay uncapture" ng-show="!succeeded">

            <div class="please-wait">
                <div class="cssload-container">
                    <div class="cssload-speeding-wheel"></div>
                </div>
                <span>Please Wait...</span>
            </div>
        </div>

        <h2 class="h2 center-block text-center">Forgot password</h2>

        <input class="form-control" type="email" name="Email" ng-model="User.Email" placeholder="Email" ng-maxlength="100" ng-minlength="6" required/>
        <p class="bg-warning" ng-show="ForgotPasswordForm.Email.$touched && ForgotPasswordForm.Email.$required">Email is required</p>
        <p class="bg-warning" ng-show="ForgotPasswordForm.Email.$touched && ForgotPasswordForm.Email.$error.maxlength">Maximum allowable length is 20</p>
        <p class="bg-warning" ng-show="ForgotPasswordForm.Email.$touched && ForgotPasswordForm.Email.$error.minlength">Minimum allowable length is 6</p>
        <p class="bg-warning" ng-show="ForgotPasswordForm.Email.$touched && ForgotPasswordForm.Email.$invalid">Email is invalid</p>

        <input class="form-control btn-default" type="submit" value="Submit" ng-disabled="ForgotPasswordForm.$invalid || !succeeded"/>
    </form>
    <a href="/#/login" class="btn-link">Login</a>
    <a href="/#/register" class="btn-link pull-right">Register</a>
</div>