<div class="container auth-form" ng-init="loadResetPassword()">
    <form name="ResetPasswordForm" ng-submit="resetPassword()" class="form-horizontal center-block  col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="overlay uncapture" ng-show="!succeeded">

            <div class="please-wait">
                <div class="cssload-container">
                    <div class="cssload-speeding-wheel"></div>
                </div>
                <span>Please Wait...</span>
            </div>
        </div>

        <h2 class="h2 center-block text-center">Reset password</h2>

        <input class="form-control" type="hidden" name="Code" ng-model="ResetModel.Code" disabled="disabled"/>

        <input class="form-control" type="text" name="Email" ng-model="ResetModel.Email" disabled="disabled"/>

        <input class="form-control" type="password" name="Password" ng-model="ResetModel.Password" placeholder="Password" ng-pattern='/(?=.*\d)(?=.*[a-zA-Z]).{2,20}$/' ng-maxlength="100" ng-minlength="6" required/>
        <p wjValidationError="" class="bg-warning" ng-show="ResetPasswordForm.Password.$required">Password is required</p>
        <p class="bg-warning" ng-show="ResetPasswordForm.Password.$touched && ResetPasswordForm.Password.$error.maxlength">Maximum allowable length is 100</p>
        <p class="bg-warning" ng-show="ResetPasswordForm.Password.$touched && ResetPasswordForm.Password.$error.minlength">Minimum allowable length is 6</p>
        <p class="bg-warning" ng-show="ResetPasswordForm.Password.$touched && ResetPasswordForm.Password.$error.pattern">Password must consist of characters and digit</p>
        <p class="bg-warning" ng-show="ResetPasswordForm.Password.$touched && ResetPasswordForm.Password.$invalid">Password is invalid</p>

        <input class="form-control" type="password" name="ConfirmPassword" ng-model="ResetModel.ConfirmPassword" placeholder="Confirm password" ng-maxlength="100" ng-minlength="6" ng-pattern="ResetModel.Password" required />
        <p class="bg-warning" ng-show="ResetPasswordForm.ConfirmPassword.$touched && ResetPasswordForm.ConfirmPassword.$required">ConfirmPassword is required</p>
        <p class="bg-warning" ng-show="ResetPasswordForm.ConfirmPassword.$touched && ResetPasswordForm.ConfirmPassword.$error.maxlength">Maximum allowable length is 100</p>
        <p class="bg-warning" ng-show="ResetPasswordForm.ConfirmPassword.$touched && ResetPasswordForm.ConfirmPassword.$error.minlength">Minimum allowable length is 6</p>
        <p class="bg-warning" ng-show="ResetPasswordForm.ConfirmPassword.$touched && ResetPasswordForm.ConfirmPassword.$error.pattern">Password and Confirm password must be the same</p>
        <p class="bg-warning" ng-show="ResetPasswordForm.ConfirmPassword.$touched && ResetPasswordForm.ConfirmPassword.$invalid">ConfirmPassword is invalid</p>

        <input class="form-control btn-default" type="submit" value="Reset password" ng-disabled="ResetPasswordForm.$invalid || !succeeded" />
    </form>
</div>